# Username
username = asdf
# Passwort
password = asdf

# URL, die für Quizspeicherung zuständig ist
quizPath = http://www.georf.de/others/quiz.php?id=

# soll der Außendienst durchgeführt werden
# 1 = ja, 0 = nein
aussendienst = 1

# Welchen Schwierigkeitsgrad soll der Außendienst haben?
# 0 = leicht, 1 = schwer
aussendienstGrad = 1

# soll nach dem Außendienst angegriffen werden
# 1 = ja, 0 = nein, 2 = Arbeiten
angriffDanach = 2

# soll automatisch geschaut werden, ob es neue Außendienste gibt?
# Angriffe werden dann unterbrochen
# Ansonsten beendet sich das Programm nicht.
lookForService = 1

# Soll das Geld regelmäßig auf die Bank gebracht werden?
putToBank = 1

# Geld zum nochmal angreifen
minMoney = 49

# Welches Level soll Gegner haben?
# beispiel: du hast level 8 und Gegner soll 9 haben, dann = 1
opponentLv = -5

# Soll der Gegner in einem Verein sein?
# 1 ja, -1 nein, 0 egal
opponentGuild = 1

# Debug-Ausgabe 
# 2 = Ausgabe auf stderr (Erroroutput/Nur Unix)
# 1 = an
# 0 = aus
debug = 1
