# Username
username = tester
# Passwort
password = tester

# soll der Außendienst durchgeführt werden
# 1 = ja, 0 = nein
aussendienst = 1

# Welchen Schwierigkeitsgrad soll der Außendienst haben?
# 0 = leicht, 1 = schwer
aussendienstGrad = 1

# soll nach dem Außendienst angegriffen werden
# 1 = ja, 0 = nein
angriffDanach = 1

# Geld zum nochmal angreifen
minMoney = 49

# Welches Level soll Gegner haben?
# beispiel: du hast level 8 und Gegner soll 9 haben, dann = 1
opponentLv = 0

# Soll der Gegner in einem Verein sein?
# 1 ja, -1 nein, 0 egal
opponentGuild = 1

# Debug-Ausgabe
# 1 = an
# 0 = aus
debug = 1
