# Username
username = tester
# Passwort
password = tester

# Geld zum nochmal angreifen
minMoney = 49

# Welches Level soll Gegner haben?
# beispiel: du hast level 8 und Gegner soll 9 haben, dann = 1
opponentLv = 0

# Soll der Gegner in einem Verein sein?
# 1 ja, -1 nein, 0 egal
opponentGuild = 1

# Debug-Ausgabe 
# 1 = an
# 0 = aus
debug = 1
